packages:
  yum:
    amazon-cloudwatch-agent: [ ]

files:
  # cloudwatch 커스텀 설정파일 작성
  "/opt/aws/amazon-cloudwatch-agent/etc/log_streaming_config.json":
    mode: "0644"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/jsongnoti/console.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/jsongnoti/console.log"]]}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/jsongnoti/sql.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/jsongnoti/sql.log"]]}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/jsongnoti/trace.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/jsongnoti/trace.log"]]}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/jsongnoti/error.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/jsongnoti/error.log"]]}`",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

  # 번들로그에 커스텀로그 추가
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/jsongnotiBundleLog.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/jsongnoti/*.log

  # EB taillog 에 커스텀로그 추가
  "/opt/elasticbeanstalk/tasks/taillogs.d/jsongnotiTailLog.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/jsongnoti/console.log
      /var/log/jsongnoti/trace.log
      /var/log/jsongnoti/error.log
      /var/log/jsongnoti/sql.log
      charset utf-8

container_commands:
  01_set_time_zone:
    command: sudo ln -sf /usr/share/zoneinfo/Asia/Seoul /etc/localtime
  02_mkdir_jsongnoti:
    command: sudo mkdir -p /var/log/jsongnoti/
  03_chmod_jsongnoti:
    command: sudo chmod 777 /var/log/jsongnoti/
  04_append_cloudwatch_agent_config:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a append-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/log_streaming_config.json -s
  05_remove_backup_file:
    command: rm -f /opt/aws/amazon-cloudwatch-agent/etc/log_streaming_config.json.bak
    ignoreErrors: true
#  03_restart_cloudwatch_agent:
#    command: "sudo systemctl restart amazon-cloudwatch-agent"
  06_setup_swap:
    test: test ! -e /var/swapfile
    command: |
      /bin/dd if=/dev/zero of=/var/swapfile bs=128M count=8
      /bin/chmod 600 /var/swapfile
      /sbin/mkswap /var/swapfile
      /sbin/swapon /var/swapfile