<!DOCTYPE HTML>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <!-- nanum fonts-->
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <title>이용약관</title>
  <style>
      #container {
          max-width: 800px;
          margin: 2rem auto;
          padding: 20px;
      }
  </style>
</head>
<body>
<div id="container" class="container">

  <h2>노래방 일본 신곡 알림이 (Jsongnoti) 이용약관</h2>

  <br>

  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">서비스 이용 조건</div>
        노래방 일본 신곡 알림이 서비스 이용시 본 약관에 동의한 것으로 간주합니다.
        <br>
        노래방 일본 신곡 알림이는 메모 기능을 제공하기 위해 구글 로그인을 사용하며, 구글의 개인정보처리방침이 별도로 적용됩니다.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">서비스 이용 제한</div>
        서비스 이용시 다음과 같은 행위는 금지됩니다.
        <ol class="list-group list-group-numbered list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">불법적인 정보의 게시 및 전송</div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">타인의 개인정보 도용</div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">시스템 해킹 및 과도한 트래픽 유발등 서비스 운영을 방해하는 행위</div>
          </li>
        </ol>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">책임의 제한</div>
        노래방 일본 신곡 알림이는 회원이 서비스 이용과 관련하여 입은 손해에 대해 책임을 지지 않습니다. 단, 일본 노래방 신곡 알림이의 고의 또는 중대한 과실로 인한 경우는 예외로 합니다.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">약관 변경</div>
        노래방 일본 신곡 알림이는 필요한 경우 본 약관을 변경할 수 있으며, 변경된 약관은 웹 사이트에 공지합니다.
      </div>
    </li>
  </ol>

  <br>

  <p>
    등록일 2024.12.09
  </p>

</div> <!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>