/* 바디, 컨테이너, section, nav, header ====================================================== */

body {
    font-family: 'NanumSquareRound', sans-serif;
    background-color: whitesmoke;
    /*background-color: #f8f9fa;*/
    font-size: calc(0.9rem + 0.3vw);
    min-width: 360px;
}

section {
    margin-top: 1.5rem;
}

section:first-of-type {
    margin-top: 0;
}

@media (min-width: 992px) {
    section {
        margin-top: 3rem;
    }
}

/* .container width px 설정값 무시 */
#container .container {
    max-width: 100%;
}

/* .container 의 maxwidth 가 px 단위로 맞춰져있는걸 수정 */
#container {
    max-width: 95%;
    margin: 0 auto;
}

/* 바디가 패딩 늘려 크기 보정 */
@media (min-width: 1400px) {
    #container {
        padding: 0 calc(1rem + 10vw); /* 양옆 10% 씩 패딩 */
    }
}

#container nav {
    padding: 0.5rem 0;
}

.song-container {
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
}

