.footer {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    margin-bottom: 0; /* 1rem 이던거 초기화 */
}

.footer .btn-danger {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .footer .btn-danger {
        font-size: calc(0.9rem + 0.3vw);
    }
}

.footer-icon-container {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .footer-icon-container {
        margin-top: auto;
        margin-bottom: auto;
    }
}



.contact-mail-mobile {
    display: inline-block;
}

.contact-mail-pc {
    display: none;
}

@media (min-width: 992px) {
    .contact-mail-mobile {
        display: none;
    }

    .contact-mail-pc {
        display: inline-block;
    }
}

.google-analytics-button {
    font-size: 1em;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0.1rem;
    color: #6c757d ;
}