

.memo-button-wrapper {
    position: absolute;
    right: 0.5rem;
}

.song-search-section {
    border-radius: 20px;
    padding: 1rem;
}

#songSearchForm .input-wrapper {
    text-align: left;
}

#searchHintContainer {
    text-align: left;
}

@media (min-width: 768px) {
    #searchHintContainer {
        text-align: center;
    }

    #songSearchForm .input-wrapper {
        text-align: center;
    }
}

#searchHintContainer p {
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 0.2rem;
}

.song-search-result-collapse {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 0.5rem;
}

#songSearchResultTable .song-title-text {
    display: inline; /* 한글 타이틀 표시를 위해 인라인 */
}

.song-search-result-header {
    font-size: calc(0.7rem + 0.3vw);
}

@media (min-width: 768px) {
    .song-search-result-header {
        font-size: 1rem;
    }
}

.song-title-korean {
    color: #777;
    margin-left: 1rem;
    display: inline-block;
}




