<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div>
  <h1>
    <span>인증코드는</span>
    <span style="background-color: #fff3cd; padding: 0.2rem" th:text="${' ' + authenticationToken + ' '}"></span>
    <span>입니다.</span>
  </h1>
  <div>
    <table style="width: 100%;border-collapse: collapse">
      <thead>
        <tr>
          <th style="font-weight: normal; text-align: left" th:text="${headerText}">
            헤더텍스트
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td height="8"></td>
      </tr>
      <tr>
        <td>
          <p th:text="${'타임스탬프 : ' + timestamp}">
            타임스탬프
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>