<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>노래방 일본 신곡 알림이</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name=”title” content="노래방 일본 신곡 알림이"/>
  <meta name="description" content="노래방 일본 신곡 알림이 에서 TJ, 금영 노래방에 등록되는 일본 신곡을 확인하고, 신곡 등록 정보를 메일로 받아보세요."/>
  <meta name="keywords" content="노래방, 일본 노래, 신곡"/>
  <meta name="google-site-verification" content="00_l8httzNCkM1xkzw0ksQyJ0uhLb2ZFP2POJnLB-Mk"/>
  <meta name="naver-site-verification" content="81d3e8c9dfbb40001d6dfddf06db7c3546ac03cd"/>
  <!--  <meta name="author" content=""/>-->
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <!-- nanum fonts-->
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="/static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JFWLSXBEYR"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-JFWLSXBEYR');
  </script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script>
      $(function () {
          //loaded
// alert
          let alertMessage = $('#alertMessage').text();
          if (alertMessage) {
              alert(alertMessage);
              $('#alertMessage').text('');
          }

// 요소 페이드 인
          let fadeElements = $('.fade-in-element');
          $(window).on('scroll', onScroll);
          onScroll(); // 초기체크

          function onScroll() {
              fadeElements.each(function () {
                  checkElement.call(this);
              });

              // 모든 요소가 나타났는지 확인
              fadeElements = fadeElements.filter(':not(.is-visible)');
              if (fadeElements.length === 0) {
                  // $(window).off('scroll', onScroll);
              }
          }

          function checkElement() {
              // 뷰포트 88% 지점
              var viewportTop = $(window).scrollTop() * 1.12;
              var viewportBottom = viewportTop + $(window).height() * 0.88;

              var elementTop = $(this).offset().top;
              var elementBottom = elementTop + $(this).outerHeight();

              if (elementTop < viewportBottom && elementBottom > viewportTop) { // 화면아랫방향으로 / 화면윗방향으로
                  $(this).addClass('is-visible');
                  // 요소가 나타나면 fadeElements 배열에서 제거
                  // fadeElements = fadeElements.not($(this));
              }
          }

// 사용방법 바로가기 버튼 클릭 이벤트
          $('.usage-Button').click(function () {
              $('html, body').animate({
                  scrollTop: $('.showcase').offset().top - 32 // 2rem 여유
              }, 1); // fade in 걸린 요소 때문에 애니메이션 이상해져서 1ms 로 줄임
          });

// 구독하기 폼 전송
          let userId = 0;
          $('#subscribeForm').submit(function (event) {
              event.preventDefault();
              $(this).prop('disabled', true);

              let email = $('#emailInput').val();
              let csrf = $('#csrfToken').val();
              let agreement = $('#flexCheckDefault').is(':checked');
              if (!agreement) {
                  alert('이메일 수집에 동의해주세요.');
                  return;
              }
              $.ajax({
                  type: 'POST',
                  url: '/users',
                  data: {
                      email: email,
                      _csrf: csrf
                  },
                  success: function (data) {
                      // console.log(data);
                      userId = data.userId;
                      let message = data.message;
                      alert(message);
                      if (!$("#verifyEmailCollapse").hasClass("show")) {
                          $("#verifyEmailCollapseButton").click();
                      }
                  },
                  error: function (xhr) {
                      // console.log(xhr);
                      let message = xhr.responseJSON.message;
                      alert(message);
                  },
                  complete: function () {
                      $(this).prop('disabled', false);
                  }
              });
          });

//  구독하기 인증코드 전송
          $('#verifyAddUserForm').submit(function (event) {
              event.preventDefault();
              $(this).prop('disabled', true);

              let code = $('#verifyCodeInput').val();
              let csrf = $('#csrfToken').val();
              $.ajax({
                  type: 'POST',
                  url: '/users' + '/' + userId + '/verify-add',
                  data: {
                      code: code,
                      _csrf: csrf
                  },
                  success: function (data) {
                      let message = data.message;
                      // console.log(data);
                      alert(message);
                      if ($("#verifyEmailCollapse").hasClass("show")) {
                          $("#verifyEmailCollapseButton").click();
                      }
                  },
                  error: function (xhr) {
                      // console.log(xhr);
                      let message = xhr.responseJSON.message;
                      alert(message);
                  },
                  complete: function () {
                      $(this).prop('disabled', false);
                  }
              });
          });

// 구독 취소 폼 전송
          $('#unsubscribeButton').click(function (event) {
              event.preventDefault();
              if (!confirm('정말 구독을 취소하시겠습니까?')) {
                  return;
              }

              let email = $('#unsubscribeEmailInput').val();
              let csrf = $('#csrfToken').val();
              $.ajax({
                  type: 'POST',
                  url: '/users/delete',
                  data: {
                      email: email,
                      _csrf: csrf
                  },
                  success: function (data) {
                      // console.log(data);
                      userId = data.userId;
                      let message = data.message;
                      alert(message);
                      if (!$("#verifyDeleteCollapse").hasClass("show")) {
                          $("#verifyDeleteCollapseButton").click();
                      }
                  },
                  error: function (xhr) {
                      // console.log(xhr);
                      let message = xhr.responseJSON.message;
                      alert(message);
                  }
              });
          });

// 구독 취소 인증코드 전송
          $('#verifyDeleteUserForm').submit(function (event) {
              event.preventDefault();
              $(this).prop('disabled', true);

              let code = $('#verifyDeleteCodeInput').val();
              let csrf = $('#csrfToken').val();
              $.ajax({
                  type: 'POST',
                  url: '/users' + '/' + userId + '/verify-delete',
                  data: {
                      code: code,
                      _csrf: csrf
                  },
                  success: function (data) {
                      let message = data.message;
                      // console.log(data);
                      alert(message);
                      if ($("#verifyDeleteCollapse").hasClass("show")) {
                          $("#verifyDeleteCollapseButton").click();
                      }
                      $("#unsubscribeModalCloseButton").click();
                  },
                  error: function (xhr) {
                      // console.log(xhr);
                      let message = xhr.responseJSON.message;
                      alert(message);
                  },
                  complete: function () {
                      $(this).prop('disabled', false);
                  }
              });
          });

      })
  </script>
</head>
<body>
<div id="alertMessage" th:text="${alertMessage}" style="width: 0; height: 0; display: none"></div>
<div id="container">
  <!-- Navigation-->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">노래방 일본 신곡 알림이</a>
      <div class="col-auto">
        <button id="goToUsageButtonNav" class="btn btn-outline-dark btn-lg usage-Button"> 사용 방법</button>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
<!--    <button class="btn btn-primary" onclick="document.getElementById('verifyEmailCollapseButton').click()">test</button>-->
    <div class="masthead-background" style="background-image: url('/static/assets/img/karaoke.jpg')"
         th:style="'background-image:url(/assets/img/karaoke.jpg)'">
      <div class="container position-relative masthead-content-wrapper">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <div class="text-center text-white">
              <!-- Page heading-->
              <h2 class="mb-5 headerText">TJ, 금영 노래방에<br class="br-mobile"> 일본 신곡이 등록되면 <br> 오전 10시에 <br
                  class="br-mobile">알림 메일을 보내드립니다</h2>
              <form class="forms-subscribe forms" id="subscribeForm">
                <!-- Email address input-->
                <div class="row">
                  <div class="col">
                    <input class="form-control form-control forms-email-input" id="emailInput" type="email"
                           placeholder="이메일 입력"
                           required>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-outline-light btn forms-submit-button" id="submitButton" type="submit">구독하기
                    </button>
                    <input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}"/>
                  </div>
                </div>
                <div class="row agreement-wrapper">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      이메일 수집에 동의합니다
                    </label>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-light agreement-btn" data-bs-toggle="modal"
                            data-bs-target="#agreementModal">
                      [ 자세히 보기 ]
                    </button>
                  </div>
                </div>
              </form>
              <!-- 인증코드 전송폼 -->
              <button id="verifyEmailCollapseButton" type="button" data-bs-toggle="collapse"
                      data-bs-target="#verifyEmailCollapse" aria-expanded="false" aria-controls="verifyEmailCollapse">
              </button>
              <form class="forms forms-verify" id="verifyAddUserForm">
                <div class="collapse" id="verifyEmailCollapse">
                  <div class="row">
                    <div class="col">
                      <input class="form-control forms-email-input" id="verifyCodeInput" type="number"
                             placeholder="4자리 인증 코드 입력"
                             required>
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-outline-light btn forms-submit-button" id="verifySubmitButton"
                              type="submit">인증하기
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <!-- 사용방법 바로가기 버튼 -->
              <div class="row justify-content-center mt-4">
                <div class="col-auto" id="goToUsageButtonWrapper">
                  <button id="goToUsageButton" class="btn btn-outline-light btn-lg usage-Button"> 사용 방법</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- agreement Modal -->
  <div class="modal fade" id="agreementModal" tabindex="-1" aria-labelledby="agreementModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="agreementModalHeaderText">이메일 수집 동의</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">
            <p><h4>개인정보 수집 및 이용 안내 동의</h4> <br>
            '노래방 일본 신곡 알림이'는 서비스 제공을 위해 다음과 같은 개인정보를 수집하고 있습니다.<br>
            개인정보 수집을 거부하는 경우 메일 서비스 이용에 제한이 될 수 있습니다.<br>
            ▪ 수집하고자 하는 항목: 이메일 주소<br>
            ▪ 개인정보 수집 목적: 신곡 알림 및 공지 메일 발송<br>
            ▪ 보유 및 이용 기간: 수집일로부터 1년 보유. 구독 취소시 24시간 이내 삭제. 구독 취소시 이메일 인증이 어려운 경우 7일간 보관 후 삭제.<br>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 신곡 일람 표 -->
  <section class="new-song-section bg-light text-center">
    <div id="song-container" class="container text-center">
      <div class="new-song-section-header">
        <p> 최근 신곡 목록입니다. 노래 제목을 클릭하시면 구글 검색으로 이동합니다.</p>
      </div>
      <div class="row">
        <!-- 태진 -->
        <div class="col-lg-4 fade-in-element">
          <h2 class="song-header-text song-header-text-tj position-relative">
            <span th:text="${tjLatestMonth + ' TJ 신곡'}">11월 TJ 신곡</span>
            <mark class="position-absolute song-header-subtext" th:text="${tjLatestDateStr + ' 추가됨'}">00/00(요) 추가됨
            </mark>
          </h2>
          <div class="song-content-border">
            <table class="table-tj">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${tjLatestMonthSongs}">
                <td class="song-number">
                  <span th:text="${song.number}" th:classappend="${song.latest} ? latest : ''">12345</span>
                </td>
                <td class="song-title">
                  <div class="song-title-text">
                    <a target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info-text" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- TJ 저번달 -->
          <div class="last-month-show-button-wrapper">
            <button class="btn btn-sm btn-outline-secondary last-month-show-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tjLastMonthSongContentBorder" aria-expanded="false"
                    aria-controls="tjLastMonthSongContentBorder"
                    th:text="${tjLastMonth + ' TJ 신곡'}">
              저번달 신곡 목록
            </button>
          </div>
          <div class="song-content-border collapse" id="tjLastMonthSongContentBorder">
            <table class="table-tj">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${tjLastMonthSongs}">
                <td class="song-number" th:text="${song.number}">12345
                </td>
                <td class="song-title">
                  <div class="song-title-text">
                    <a target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info-text" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- 금영 -->
        <div class="col-lg-4 fade-in-element">
          <h2 class="song-header-text song-header-text-ky">
            <span th:text="${kyLatestMonth + ' 금영 신곡'}">11월 금영 신곡</span>
            <mark class="position-absolute song-header-subtext" th:text="${kyLatestDateStr + ' 추가됨'}">00/00(0) 추가됨
            </mark>
          </h2>
          <div class="song-content-border">
            <table class="table-ky">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${kyLatestMonthSongs}">
                <td class="song-number">
                  <span th:text="${song.number}" th:classappend="${song.latest} ? latest : ''">12345</span>
                </td>
                <td class="song-title">
                  <div class="song-title-text">
                    <a target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info-text" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- 금영 저번달 목록 -->
          <div class="last-month-show-button-wrapper">
            <button class="btn btn-sm btn-outline-secondary last-month-show-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#kyLastMonthSongContentBorder" aria-expanded="false"
                    aria-controls="kyLastMonthSongContentBorder"
                    th:text="${kyLastMonth + ' 금영 신곡'}">
              저번달 신곡 목록
            </button>
          </div>
          <div class="song-content-border collapse" id="kyLastMonthSongContentBorder">
            <table class="table-ky">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${kyLastMonthSongs}">
                <td class="song-number" th:text="${song.number}">12345
                </td>
                <td class="song-title">
                  <div class="song-title-text">
                    <a target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info-text" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="splitter"></div>

  <!-- 사용 방법 및 주의사항 표-->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row g-0 fade-in-element">
        <h2 id="showCaseHeaderText">
          사용 방법
        </h2>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline>
            <source src="/static/assets/mov/subscribe.webm" th:src="@{/assets/mov/subscribe.webm}" type="video/webm">
            <source src="/static/assets/mov/subscribe.mp4" th:src="@{/assets/mov/subscribe.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 구독하기 동영상
          </video>
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h3>구독하기</h3>
          <p class="lead mb-3">
            이메일을 입력한 후 구독하기 버튼을 누릅니다. <br>
            이메일로 전송된 구독 인증 메일의 인증번호를 입력하면 구독이 완료됩니다. <br>
          </p>
          <p class="lead mb-0">
            메일이 정상적으로 수신되지 않을 시 스팸함을 확인해주세요. <br>
            (인증 메일이 스팸으로 분류되었을 경우 스팸 해제 해주셔야 알림 메일을 정상적으로 수신할 수 있습니다)
          </p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline>
            <source src="/static/assets/mov/noti.webm" th:src="@{/assets/mov/noti.webm}" type="video/webm">
            <source src="/static/assets/mov/noti.mp4" th:src="@{/assets/mov/noti.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 이메일 수신 동영상
          </video>
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h3>이메일 수신</h3>
          <p class="lead mb-3">
            노래방에 일본 신곡이 추가되면 오전 10시에 등록된 이메일로 알려드립니다.<br>
            메일이 정상적으로 수신되지 않을 시 스팸함을 확인해주세요.
          </p>
          <p class="lead mb-0">
            보통 TJ는 매주 화요일, 목요일에 신곡이 추가되며 금영은 비정기적으로 추가됩니다. <br>
          </p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline>
            <source src="/static/assets/mov/unsubscribe.webm" th:src="@{/assets/mov/unsubscribe.webm}" type="video/webm">
            <source src="/static/assets/mov/unsubscribe.mp4" th:src="@{/assets/mov/unsubscribe.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 구독취소 동영상
          </video>
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h3>구독 취소</h3>
          <p class="lead mb-0">
            구독 취소는 홈페이지 맨 아래의 구독취소 버튼을 눌러 할 수 있습니다.<br>
            이메일로 전송된 구독취소 인증번호를 입력하면 구독이 취소됩니다. <br>
            이메일 인증이 불가능할 시 문의 부탁드립니다.</p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <div class="col-lg-6 order-lg-2 text-white showcase-img"
               style="background-image: url('/static/assets/img/bg-showcase-3.jpg')"
               th:style="'background-image: url(/assets/img/bg-showcase-3.jpg)'"></div>
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h3>문의사항</h3>
          <p class="lead mb-0">
            문의사항은 jsongnoti+cs@gmail.com 으로 문의 부탁드립니다. <br>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의">
              PC용 지메일
            </a>
            또는
            <a href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의">
              모바일용 메일
            </a>
            링크를 클릭하시면 바로 메일을 작성할 수 있습니다.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- 구독 취소 모달 -->
  <div class="modal fade" id="unsubscribeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="unsubscribeModalHeaderText">구독 취소하기</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="forms-unsubscribe forms" id="unsubscribeForm">
            <!-- Email address input-->
            <div class="row">
              <div class="col">
                <input class="form-control forms-email-input" id="unsubscribeEmailInput" type="email" placeholder="이메일 입력"
                       required/>
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-danger btn forms-submit-button" id="unsubscribeButton" type="submit">구독취소</button>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
              </div>
            </div>
          </form>
          <button id="verifyDeleteCollapseButton" type="button" data-bs-toggle="collapse"
                  data-bs-target="#verifyDeleteCollapse" aria-expanded="false" aria-controls="verifyDeleteCollapse">
          </button>
          <form class="forms forms-verify" id="verifyDeleteUserForm">
            <div class="collapse" id="verifyDeleteCollapse">
              <div class="row">
                <div class="col">
                  <input class="form-control forms-email-input" id="verifyDeleteCodeInput" type="number"
                         placeholder="4자리 인증 코드 입력"
                         required>
                </div>
                <div class="col-auto">
                  <button class="btn btn-outline-secondary btn forms-submit-button" id="verifyDeleteSubmitButton"
                          type="submit">인증하기
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="unsubscribeModalCloseButton" class="btn btn-outline-secondary"
                  data-bs-dismiss="modal">닫기
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer-->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
          <button type="button" class="btn btn-danger btn-sm" id="unsubscribeModalButton" data-bs-toggle="modal"
                  data-bs-target="#unsubscribeModal">
            구독 취소
          </button>
          <p id="footerText" class="text-muted small mb-4 mb-lg-0">&copy; JsongNoti by spiaminto. All Rights
            Reserved.</p>
          <p id="footerTextCopyright" class="text-muted small mb-0">favicon Designed by Freepik</p>
          <p id="footerTextGoogleAnalytics" class="text-muted small mb-4 mb-lg-0">이 사이트는 구글 애널리틱스를 사용중입니다
            <button type="button" class="btn btn-outline-secondary google-analytics-button" data-bs-toggle="modal"
                    data-bs-target="#googleAnalyticsModal">
              [ 자세히 ]
            </button>
          </p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
              Github &nbsp;
              <a href="https://github.com/spiaminto/JsongNoti-web"><i class="bi-github fs-3"></i></a>
            </li>
            <li class="list-inline-item contact-mail-pc">
              Contact
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의"
                 target="_blank"><i
                  class="bi-envelope fs-3"></i></a>
            </li>
            <li class="list-inline-item contact-mail-mobile">
              Contact
              <a href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의"><i
                  class="bi-envelope fs-3"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- agreement Modal -->
  <div class="modal fade" id="googleAnalyticsModal" tabindex="-1" aria-labelledby="googleAnalyticsModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="googleAnalyticsModalHeaderText">구글 애널리틱스</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">
            <p><h4>구글 애널리틱스 개인정보 처리 방침</h4> <br>
            노래방 일본 신곡 알림이는 보다 나은 서비스의 제공을 위하여 구글(Google)에서 제공하는 웹로그 분석 도구인 구글 애널리틱스를 이용하고 있습니다. <br>
            구글 애널리틱스는 쿠키(Cookie)를 통하여 현재 웹사이트 이용자의 행태정보를 수집하게 되며, 이 경우 이용자 개인을 식별할 수 없는 비식별정보 만이 수집됩니다. <br>
            그럼에도 이용자는 Google 애널리틱스 차단 브라우저 부가기능의 설치(https://tools.google.com/dlpage/gaoptout) 또는 웹브라우저의 쿠키 설정 거부를 통해 구글
            애널리틱스 이용을 거부할 수 있습니다.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>

</div> <!-- #container -->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="/js/scripts.js"></script>-->
</body>
</html>
