<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>제이노티 신곡알림</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="제이노티 에서 TJ, 금영 노래방에 등록되는 일본 신곡을 확인하고, 신곡 등록 정보를 메일로 받아보세요."/>
  <meta name="keywords" content="노래방, 일본 노래, 신곡"/>
  <meta name="google-site-verification" content="00_l8httzNCkM1xkzw0ksQyJ0uhLb2ZFP2POJnLB-Mk"/>
  <meta name="naver-site-verification" content="81d3e8c9dfbb40001d6dfddf06db7c3546ac03cd"/>
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"/>
  <link href="/static/css/containers.css" th:href="@{/css/containers.css}" rel="stylesheet"/>
  <link href="/static/css/header-text.css" th:href="@{/css/header-text.css}" rel="stylesheet"/>
  <link href="/static/css/song-table.css" th:href="@{/css/song-table.css}" rel="stylesheet"/>
  <link href="/static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
  <link href="/static/css/page/index.css" th:href="@{/css/page/index.css}" rel="stylesheet"/>
  <script>
      // dark mode 인라인
      if (localStorage.getItem('darkMode') === 'true') {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
      } else {
          document.documentElement.setAttribute('data-bs-theme', '');
      }
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JFWLSXBEYR"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-JFWLSXBEYR');
  </script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/static/js/common-handlers.js" th:src="@{/js/common-handlers.js}" type="text/javascript"></script>
  <script src="/static/js/fade-in.js" th:src="@{/js/fade-in.js}" type="text/javascript"></script>
  <script src="/static/js/index/subscribe.js" th:src="@{/js/index/subscribe.js}" type="text/javascript"></script>
  <script src="/static/js/index/unsubscribe.js" th:src="@{/js/index/unsubscribe.js}" type="text/javascript"></script>
  <script>
      $(function () {
          //loaded
// alert
          let alertMessage = $('#alertMessage').text();
          if (alertMessage) {
              alert(alertMessage);
              $('#alertMessage').text('');
          }

// 사용방법 바로가기 버튼 클릭 이벤트
          $('.usage-Button').click(function () {
              $('html, body').animate({
                  scrollTop: $('.showcase').offset().top - 16 // 2rem 여유
              }, 500);
          });
      })
  </script>
</head>
<body class="outer-element">
<div id="alertMessage" th:text="${alertMessage}" style="width: 0; height: 0; display: none"></div>
<div id="container">

  <!-- Navigation-->
  <nav class="navbar navbar-light static-top">
    <h1>
      <a class="navbar-brand" href="/">
        제이노티
      </a>
      <a class="navbar-brand" href="/">
        신곡알림
      </a>
      <img src="/static/assets/icon/logo_512.png" th:src="@{'/assets/icon/logo_512.png'}" alt="로고아이콘" width="35px">
    </h1>
    <div class="button-wrapper">
      <button id="searchButton" onclick="location.href = '/search'" class="icon-button btn"
              style="background-image: url('/static/assets/icon/search_512.png')"
              th:style="'background-image: url(/assets/icon/search_512.png)'">
        <span class="icon-button-label search-icon-label"><b>검색</b></span>
      </button>
      <button id="favoriteSongButton" class="icon-button btn "
              style="background-image: url('/static/assets/icon/favorite_song_512.png')"
              th:style="'background-image: url(/assets/icon/favorite_song_512.png)'"
              data-bs-toggle="modal" data-bs-target="#favoriteLoginModal">
        <span class="icon-button-label"><b>애창곡</b></span>
      </button>
    </div>
  </nav>

  <!-- 로그인 안내 모달 -->
  <div class="modal fade" id="favoriteLoginModal" tabindex="-1" aria-labelledby="favoriteLoginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">애창곡 로그인 안내</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">
            <div class="modal-image-wrapper">
              <img src="/static/assets/img/favorite-hint.png" th:src="@{/assets/img/favorite-hint.png}">
              <div class="video-shadow dark-mode-element"></div>
            </div>
            <p class="px-3 mb-0 login-modal-info">
              애창곡의 정보를 추가메모와 함께 저장할 수 있습니다. <br>
              서비스 이용을 위해 구글 로그인이 필요합니다.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
          <button type="button" class="btn btn-lg btn-outline-primary favorite-login-button" data-bs-dismiss="modal"><i class="bi bi-google"></i><span class="ms-1">구글 로그인</span></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Masthead-->
  <header class="masthead">
    <!--    <button class="btn btn-primary" onclick="document.getElementById('verifyEmailCollapseButton').click()">test</button>-->
    <div class="masthead-background box-shadow" style="background-image: url('/static/assets/img/karaoke.jpg')"
         th:style="'background-image:url(/assets/img/karaoke.jpg)'">
      <div class="container position-relative masthead-content-wrapper">
        <div class="row justify-content-center">
          <div class="col-xl-6">
            <div class="text-center text-white">
              <!-- Page heading-->
              <h2 class="mb-5 headerText">TJ, 금영 노래방에<br class="br-mobile"> 일본 신곡이 등록되면 <br> 오전 10시에 <br
                  class="br-mobile">알림 메일을 보내드립니다</h2>
              <form class="forms-subscribe forms" id="subscribeForm">
                <!-- Email address input-->
                <div class="input-group justify-content-center">
                  <input class="form-control form-control-lg text-input" id="emailInput" type="email"
                         placeholder="이메일 입력"
                         required>
                  <button class="btn btn-lg btn-outline-light forms-submit-button" id="submitButton" type="submit">
                    구독하기
                  </button>
                </div>
                <input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}"/>
                <div class="row agreement-wrapper">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      이메일 수집에 동의합니다
                    </label>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-light agreement-btn" data-bs-toggle="modal"
                            data-bs-target="#agreementModal">
                      [ 자세히 보기 ]
                    </button>
                  </div>
                </div>
              </form>
              <!-- 인증코드 전송폼 -->
              <button id="verifyEmailCollapseButton" type="button" data-bs-toggle="collapse"
                      data-bs-target="#verifyEmailCollapse" aria-expanded="false" aria-controls="verifyEmailCollapse">
              </button>
              <form class="forms forms-verify" id="verifySubscriptionForm">
                <div class="collapse" id="verifyEmailCollapse">
                  <div class="input-group justify-content-center">
                    <input class="form-control form-control-lg text-input" id="verifyCodeInput" type="number"
                           placeholder="4자리 인증 코드 입력"
                           required>
                    <button class="btn btn-outline-light btn-lg" id="verifySubmitButton"
                            type="submit">인증하기
                    </button>
                  </div>
                </div>
              </form>

              <!-- 사용방법 바로가기 버튼 -->
              <div class="row justify-content-center mt-4">
                <div class="col-auto" id="goToUsageButtonWrapper">
                  <button id="goToUsageButton" class="btn btn-outline-light btn-lg usage-Button"> 사용 방법</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- agreement Modal -->
  <div class="modal fade" id="agreementModal" tabindex="-1" aria-labelledby="agreementModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="agreementModalHeaderText">이메일 수집 동의</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">
            <h4>개인정보 수집 및 이용 안내 동의</h4> <br>
            제이노티는 알림메일 서비스 제공을 위해 다음과 같은 개인정보를 수집하고 있습니다.<br>
            개인정보 수집을 거부하는 경우 메일 서비스 이용에 제한이 될 수 있습니다.<br>
            ▪ 수집하고자 하는 항목: 이메일 주소<br>
            ▪ 개인정보 수집 목적: 알림메일 서비스 제공 및 회원 관리, 문의처리<br>
            ▪ 보유 및 이용 기간: 수집일로부터 1년 보유. 구독 취소시 48시간 이내 삭제. 구독 취소시 이메일 인증이 어려운 경우 7일간 보관 후 삭제.<br>
            자세한 내용은 개인정보처리방침을 참고해주세요.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 신곡 일람 표 -->
  <section class="new-song-section text-center inner-element">
    <div id="newSongContainer" class="song-container">
      <div class="new-song-section-header">
        <p>
          최근 신곡 목록입니다. <br>
          노래 제목을 클릭하시면 구글 검색으로 이동합니다.
        </p>
      </div>
      <div class="row">
        <!-- 태진 -->
        <div class="fade-in-element song-table-container">
          <h2 class="song-header-text position-relative">
            <span th:text="${tjLatestMonth + ' TJ 신곡'}">11월 TJ 신곡</span>
            <mark class="position-absolute song-header-subtext" th:text="${tjLatestDateStr + ' 추가'}">00/00(요) 추가
            </mark>
          </h2>
          <div class="song-table-border box-shadow-sm">
            <table class="table-tj song-table">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${tjLatestMonthSongs}">
                <td class="song-number">
                  <span th:text="${song.number}" th:classappend="${song.latest} ? latest : ''">12345</span>
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- TJ 저번달 -->
          <div class="last-month-show-button-wrapper">
            <button class="btn btn-outline-secondary last-month-show-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tjLastMonthSongContentBorder" aria-expanded="false"
                    aria-controls="tjLastMonthSongContentBorder"
                    th:text="${tjLastMonth + ' TJ 신곡'}">
              저번달 신곡 목록
            </button>
          </div>
          <div class="song-table-border box-shadow-sm collapse" id="tjLastMonthSongContentBorder">
            <table class="table-tj song-table">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${tjLastMonthSongs}">
                <td class="song-number" th:text="${song.number}">12345
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- 금영 -->
        <div class="fade-in-element song-table-container">
          <h2 class="song-header-text">
            <span th:text="${kyLatestMonth + ' 금영 신곡'}">11월 금영 신곡</span>
            <mark class="position-absolute song-header-subtext" th:text="${kyLatestDateStr + ' 추가'}">00/00(0) 추가
            </mark>
          </h2>
          <div class="song-table-border box-shadow-sm">
            <table class="table-ky song-table">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${kyLatestMonthSongs}">
                <td class="song-number">
                  <span th:text="${song.number}" th:classappend="${song.latest} ? latest : ''">12345</span>
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- 금영 저번달 목록 -->
          <div class="last-month-show-button-wrapper">
            <button class="btn btn-outline-secondary last-month-show-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#kyLastMonthSongContentBorder" aria-expanded="false"
                    aria-controls="kyLastMonthSongContentBorder"
                    th:text="${kyLastMonth + ' 금영 신곡'}">
              저번달 신곡 목록
            </button>
          </div>
          <div class="song-table-border box-shadow-sm collapse" id="kyLastMonthSongContentBorder">
            <table class="song-table table-ky">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${kyLastMonthSongs}">
                <td class="song-number" th:text="${song.number}">12345
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" target="_blank" th:href="${song.searchUrl}"
                       href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9"
                       th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info" th:text="${song.info}">정보 텍스트
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="splitter"></div>

  <!-- 사용 방법 및 주의사항 표-->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row g-0 fade-in-element">
        <h2 id="showCaseHeaderText" class="">
          사용 방법
        </h2>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline class="box-shadow">
            <source src="/static/assets/mov/subscribe.webm" th:src="@{/assets/mov/subscribe.webm}" type="video/webm">
            <source src="/static/assets/mov/subscribe.mp4" th:src="@{/assets/mov/subscribe.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 구독하기 동영상
          </video>
          <div class="video-shadow dark-mode-element"></div>
        </div>
        <div class="col-lg-6 order-lg-1 showcase-text inner-element">
          <h3>구독하기</h3>
          <p class="lead mb-3">
            이메일을 입력한 후 구독하기 버튼을 누릅니다. <br>
            이메일로 전송된 구독 인증 메일의 인증번호를 입력하면 구독이 완료됩니다. <br>
          </p>
          <p class="lead mb-0">
            메일이 정상적으로 수신되지 않을 시 스팸함을 확인해주세요. <br>
            (인증 메일이 스팸으로 분류되었을 경우 스팸 해제 해주셔야 알림 메일을 정상적으로 수신할 수 있습니다)
          </p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline class="box-shadow">
            <source src="/static/assets/mov/noti.webm" th:src="@{/assets/mov/noti.webm}" type="video/webm">
            <source src="/static/assets/mov/noti.mp4" th:src="@{/assets/mov/noti.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 이메일 수신 동영상
          </video>
          <div class="video-shadow dark-mode-element"></div>
        </div>
        <div class="col-lg-6 showcase-text inner-element">
          <h3>이메일 수신</h3>
          <p class="lead mb-3">
            노래방에 일본 신곡이 추가되면 오전 10시에 등록된 이메일로 알려드립니다.<br>
            메일이 정상적으로 수신되지 않을 시 스팸함을 확인해주세요.
          </p>
          <p class="lead mb-0">
            보통 TJ는 매주 화요일, 목요일에 신곡이 추가되며 금영은 비정기적으로 추가됩니다. <br>
          </p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <video autoplay muted loop playsinline class="box-shadow">
            <source src="/static/assets/mov/unsubscribe.webm" th:src="@{/assets/mov/unsubscribe.webm}"
                    type="video/webm">
            <source src="/static/assets/mov/unsubscribe.mp4" th:src="@{/assets/mov/unsubscribe.mp4}" type="video/mp4">
            노래방 일본 신곡 알림이 구독취소 동영상
          </video>
          <div class="video-shadow dark-mode-element"></div>
        </div>
        <div class="col-lg-6 order-lg-1 showcase-text inner-element">
          <h3>구독 취소</h3>
          <p class="lead mb-0">
            구독 취소는 홈페이지 맨 아래의 구독취소 버튼을 눌러 할 수 있습니다.<br>
            이메일로 전송된 구독취소 인증번호를 입력하면 구독이 취소됩니다. <br>
            이메일 인증이 불가능할 시 문의 부탁드립니다.</p>
        </div>
      </div>
      <div class="row g-0 fade-in-element">
        <div class="showcase-img-wrapper">
          <div class="col-lg-6 order-lg-2 text-white showcase-img box-shadow"
               style="background-image: url('/static/assets/img/bg-showcase-3.jpg')"
               th:style="'background-image: url(/assets/img/bg-showcase-3.jpg)'"></div>
          <div class="video-shadow dark-mode-element"></div>
        </div>
        <div class="col-lg-6 order-lg-1 showcase-text inner-element">
          <h3>문의사항</h3>
          <p class="lead mb-0">
            문의사항은 jsongnoti+cs@gmail.com 으로 문의 부탁드립니다. <br>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의">
              PC용 지메일
            </a>
            또는
            <a href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의">
              모바일용 메일
            </a>
            링크를 클릭하시면 바로 메일을 작성할 수 있습니다.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- 구독 취소 모달 -->
  <div class="modal fade" id="unsubscribeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="unsubscribeModalHeaderText">구독 취소하기</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            구독시 입력한 이메일을 인증하여 구독취소를 진행합니다.<br>
          </p>
          <form class="forms-unsubscribe forms" id="unsubscribeForm">
            <!-- Email address input-->
            <div class="input-group justify-content-center">
              <input class="form-control form-control-lg text-input" id="unsubscribeEmailInput" type="email"
                     placeholder="이메일 입력" required>
              <button class="btn btn-outline-danger btn-lg" id="unsubscribeButton" type="submit">
                구독취소
              </button>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
          </form>
          <button id="verifyDeleteCollapseButton" type="button" data-bs-toggle="collapse"
                  data-bs-target="#verifyDeleteCollapse" aria-expanded="false" aria-controls="verifyDeleteCollapse">
          </button>
          <form class="forms forms-verify" id="verifyUnsubscriptionForm">
            <div class="collapse" id="verifyDeleteCollapse">
              <div class="input-group justify-content-center">
                <input class="form-control form-control-lg text-input" id="verifyDeleteCodeInput" type="number"
                       placeholder="4자리 인증 코드 입력" required>
                <button class="btn btn-outline-secondary btn-lg" id="verifyDeleteSubmitButton"
                        type="submit">인증하기
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="unsubscribeModalCloseButton" class="btn btn-lg btn-outline-secondary"
                  data-bs-dismiss="modal">닫기
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <footer class="footer inner-element">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <button type="button" class="btn btn-danger" id="unsubscribeModalButton" data-bs-toggle="modal"
                data-bs-target="#unsubscribeModal">
          구독 취소
        </button>
        <p id="footerText" class="text-muted small">&copy; 제이노티 by JsongNoti. All Rights
          Reserved.</p>
        <p id="footerTextCopyright" class="small mb-0">icons Designed by
          <a class="text-muted text-decoration-none" href="https://www.freepik.com/">Freepik</a>
        </p>
        <div id="footerTextLinkWrapper" class="">
          <p id="footerTextTermsOfUse" class="d-inline-block small mb-0"><a
              class="text-muted text-decoration-none" href="/terms-of-use">이용약관</a></p>
          <p id="footerTextPrivacyPolicy" class="d-inline-block small mb-0 ms-2"><a
              class="text-muted text-decoration-none" href="/privacy-policy"><b>개인정보처리방침</b></a></p>
        </div>
      </div>
      <div class="footer-icon-container col-lg-6  text-center text-lg-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">&nbsp;
            <a class="text-primary-emphasis text-decoration-none" href="https://github.com/spiaminto/JsongNoti-web">
              Github
              <i class="bi-github fs-3"></i>
            </a>
          </li>
          <li class="list-inline-item contact-mail-pc me-4">
            <a class="text-primary-emphasis text-decoration-none"
               href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의"
               target="_blank">
              Contact
              <i class="bi-envelope fs-3"></i>
            </a>
          </li>
          <li class="list-inline-item contact-mail-mobile me-4">
            <a class="text-primary-emphasis text-decoration-none"
               href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의">
              Contact
              <i class="bi-envelope fs-3"></i>
            </a>
          </li>
          <li class="list-inline-item dark-mode-button">
            <a class="text-primary-emphasis text-decoration-none"
               href="">
              다크모드
              <i class="bi bi-moon-fill fs-3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

</div> <!-- #container -->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
