<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>노래방 일본 신곡 알림이 메모장</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name=”title” content="노래방 일본 신곡 알림이 메모장"/>
  <meta name="description" content="노래방 일본 신곡 알림이 에서 TJ, 금영 노래방에 등록되는 일본 신곡을 확인하고, 신곡 등록 정보를 메일로 받아보세요."/>
  <meta name="keywords" content="노래방, 일본 노래, 신곡"/>
  <meta name="google-site-verification" content="00_l8httzNCkM1xkzw0ksQyJ0uhLb2ZFP2POJnLB-Mk"/>
  <meta name="naver-site-verification" content="81d3e8c9dfbb40001d6dfddf06db7c3546ac03cd"/>
  <!--  <meta name="author" content=""/>-->
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <!-- nanum fonts-->
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="/static/css/containers.css" th:href="@{/css/containers.css}" rel="stylesheet"/>
  <link href="/static/css/header-text-size.css" th:href="@{/css/header-text-size.css}" rel="stylesheet"/>
  <link href="/static/css/song-table.css" th:href="@{/css/song-table.css}" rel="stylesheet"/>
  <link href="/static/css/modal.css" th:href="@{/css/modal.css}" rel="stylesheet"/>
  <link href="/static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
  <link href="/static/css/memo.css" th:href="@{/css/memo.css}" rel="stylesheet"/>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JFWLSXBEYR"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-JFWLSXBEYR');
  </script>
  <style>
  </style>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script>
      $(function () {
          //loaded
// alert
          let alertMessage = $('#alertMessage').text();
          if (alertMessage) {
              alert(alertMessage);
              $('#alertMessage').text('');
          }

// 애니메이션 및 뷰 =========================================================================
// 요소 페이드 인
          let fadeElements = $('.fade-in-element');
          $(window).on('scroll', onScroll);
          onScroll(); // 초기체크

          function onScroll() {
              fadeElements.each(function () {
                  checkElement.call(this);
              });

              // 모든 요소가 나타났는지 확인
              fadeElements = fadeElements.filter(':not(.is-visible)');
              if (fadeElements.length === 0) {
                  // $(window).off('scroll', onScroll);
              }
          }

// 요소가 화면에 보이는지 여부 체크
          function checkElement() {
              // 뷰포트 88% 지점
              var viewportTop = $(window).scrollTop() * 1.12;
              var viewportBottom = viewportTop + $(window).height() * 0.88;

              var elementTop = $(this).offset().top;
              var elementBottom = elementTop + $(this).outerHeight();

              if (elementTop < viewportBottom && elementBottom > viewportTop) { // 화면아랫방향으로 / 화면윗방향으로
                  $(this).addClass('is-visible');
                  // 요소가 나타나면 fadeElements 배열에서 제거
                  // fadeElements = fadeElements.not($(this));
              }
          }

// 컬랩스 클릭 -> 회전
          $('.collapse-button').on('click', function () {
              if ($(this).hasClass('collapse-button-open')) {
                  $(this).removeClass('collapse-button-open')
              } else {
                  $(this).addClass('collapse-button-open')
              }
          })

// 사용방법 바로가기 버튼 클릭시 스크롤 이벤트
          $('.usage-Button').click(function () {
              $('html, body').animate({
                  scrollTop: $('.showcase').offset().top - 32 // 2rem 여유
              }, 1); // fade in 걸린 요소 때문에 애니메이션 이상해져서 1ms 로 줄임
          });


          function toggleSearchForm(command) {
              if (command === 'on') {
                  $('#songSearchForm input').prop('disabled', false);
                  $('#songSearchForm button').prop('disabled', false);
              } else if (command === 'off') {
                  $('#songSearchForm input').prop('disabled', true);
                  $('#songSearchForm button').prop('disabled', true);
              }
          }

// 데이터 =========================================================================

// TJ 메모 갱신 (개발용)
          $('#refreshTJButton').click(function () {
            let dataList = getMemoTableData('TJ');
            console.log('dataList', dataList);
            let songTable = renderEmptySongTable(dataList);
            let songRows = songTable.find('tbody tr');

            // presentOrder 복구
            $.each(songRows, function (index, row) {
                $(row).find('.song-number').attr('data-present-order', dataList[index].presentOrder);
            });

            $(songTable).addClass('table-tj');
            $('.table-tj tbody').replaceWith($(songTable).find('tbody'));
          })

// 서버에 메모테이블 데이터 요청
          /**
           * 서버에서 메모테이블 데이터를 가져와 반환
           * @param brand 가져올 브랜드
           * @returns {*} SongMemo 리스트 (order by presentOrder ASC)
           */
          function getMemoTableData(brand) {
              let memoData;
              $.ajax({
                  type: "GET",
                  url: "/memos",
                  async: false, // 결과 반환을 위해 동기화
                  data: {
                      brand: brand,
                      presentType: 'presentOrder'
                  },
                  success: function (data) {
                      console.log(data);
                      memoData = data;
                      console.log('ajax', memoData);
                  },
                  error: function (request, status, error) {
                      console.log(request)
                      console.log(status)
                      console.log(error)
                  }
              })
              return memoData;
          }

// 서버에 노래 검색 요청
          $("#songSearchForm").submit(function (event) {
              event.preventDefault();

              $.ajax({
                  type: "GET",
                  url: "/songs",
                  data: $("#songSearchForm").serialize(),
                  success: function (data) {
                      // console.log(data);
                      // 기존 검색 결과 초기화
                      let $songSearchResultTableBody = $('#songSearchResultTableBody');
                      $songSearchResultTableBody.empty();

                      // 새로운 검색결과 테이블 생성 및 채우기
                      let songTable = renderEmptySongTable(data);

                      // 검색결과 후처리 - 한글타이틀 기입, 클릭시 폼입력 이벤트바인딩, data-id (songId) 추가
                      $.each(data, function (index, song) {
                          let songTitleHint = song.titleKorean ? '<i class=\'song-title-korean ms-4\'>' + song.titleKorean + '</i>' : '';
                          jQuery(songTable.find('.song-title-text')[index]).after(songTitleHint);
                          jQuery(songTable.find('.song-title')[index]).on('click', fillSongAddFormWithSearchResult);
                          jQuery(songTable.find('.song-number')[index]).attr('data-id', song.id);
                      });

                      // 새로운 검색결과 테이블 바디에 아이디 붙이고 교체
                      $songSearchResultTableBody.replaceWith(songTable.find('tbody').attr('id', 'songSearchResultTableBody'));

                      // 검색결과 collapse 안보일경우 보이게
                      if (!$("#songSearchResultCollapse").hasClass("show")) {
                          $("#songSearchResultCollapseButton").click();
                      }
                  },
                  error: function (request, status, error) {
                      alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                  }
              });
          });

// 빈 테이블(.empty-song-table) 복사후 값 채움
          /**
           * .empty-song-table 을 복사한 뒤 dataList 의 값으로 채움
           * @param dataList 서버에서 조회한 노래 데이터 리스트
           * @returns {*|jQuery} 데이터를 채운 테이블
           */
          function renderEmptySongTable(dataList) {
              console.log('RENDER', dataList)
              if (dataList == null) {
                  return;
              }
              let emptySongTable = $('.empty-song-table');
              let resultTable = emptySongTable.clone();
              resultTable.removeClass('empty-song-table');

              let firstRow = resultTable.find('tbody tr:first-child');
              $.each(dataList, function (index, song) {
                  let row = firstRow.clone();
                  row.find('.song-number span').text(song.number);
                  row.find('.song-title-text').text(song.title);
                  row.find('.song-info span').text(song.info);
                  row.find('.song-singer').text(song.singer);
                  console.log('row', row);
                  firstRow.before(row); // after 가 아닌 before 로 붙여야 순서가 맞음
              });
              firstRow.remove();
              return resultTable;
          }

// 검색 결과 누르면 폼에 입력 -> 검색결과의 .song-title 에 이벤트 연결
          function fillSongAddFormWithSearchResult(event) {
              event.preventDefault();
              let songAddForm = $('#songAddForm');

              // 클릭한 노래의 정보를 폼에 입력
              let songRow = $(this).closest('tr');
              songAddForm.find('.song-number span').text(songRow.find('.song-number span').text());
              songAddForm.find('.song-title-text').text(songRow.find('.song-title-text').text());
              songAddForm.find('.song-info-text').text(songRow.find('.song-info span').text());
              songAddForm.find('.song-singer').text(songRow.find('.song-singer').text());

              // 폼 data 에 songId, brand 저장
              let brand = $('#songSearchForm input[name=brand]:checked').val()
              songAddForm.attr('data-brand', brand);
              songAddForm.attr('data-song-id', songRow.find('.song-number').data('id'));

              // 메모 테이블 정보로 현재 순서 텍스트 갱신
              let songMemo = brand === 'TJ' ? $('.table-tj') : $('.table-ky');
              let lastPresentOrder = songMemo.find('tr:last-child .song-number').attr('data-present-order');
              $('#currentPresentOrder').text(Number(lastPresentOrder) + 2); // 순서가 0부터 시작

              // 추가 텍스트 입력창 열기
              if (!$('#addInfoTextCollapse').hasClass('show')) {
                  $('#addInfoTextCollapseButton').click();
              }
          }

// 노래 순서 모달 버튼 클릭
          $('#presentOrderModalButton').click(function () {
              // 순서 설정 테이블로 붙일 테이블 결정
              let brand = $('#songAddForm').attr('data-brand');
              let memoTable = brand === 'TJ' ? $('.table-tj') : $('.table-ky');

              // 순서 설정 테이블 초기화 후 붙임
              let choosePresentOrderTable = $('#choosePresentOrderTable');
              choosePresentOrderTable.find('tbody').empty().append(memoTable.find('tbody').html());
          })

// 노래 순서 모달 노래 클릭
          $('#choosePresentOrderTable').on('click', '.song-title', function (e) {
              e.preventDefault();
              let presentOrder = $(this).closest('tr').find('.song-number').attr('data-present-order');
              console.log(presentOrder);
              $('#choosePresentOrderTable tr').removeClass('selected');
              $(this).closest('tr').addClass('selected');
          })

// 노래 순서 모달 확인 클릭
          $('#presentOrderModal .modal-footer button').click(function () {
              let selectedRow = $('#choosePresentOrderTable tr.selected');
              let presentOrder = selectedRow.find('.song-number').attr('data-present-order');
              $('#currentPresentOrder').text(Number(presentOrder) + 2); // 순서가 0부터 시작
          })

// 노래 메모 저장 폼 전송
          $('#songAddForm').submit(function (event) {
              event.preventDefault();
              let songId = $(this).attr('data-song-id');
              let infoTextInputVal = $(this).find('#addInfoTextInput').val();
              let presentOrder = Number($('#currentPresentOrder').text()) - 1; // 순서가 0부터 시작
              let csrfToken = $('#csrfToken').val();

              $.ajax({
                  type: "POST",
                  url: "/memos",
                  data: {
                      songId: songId,
                      infoText: infoTextInputVal,
                      presentOrder: presentOrder,
                      _csrf: csrfToken
                  },
                  success: function (data) {
                      console.log(data)
                      alert('메모가 저장되었습니다.');
                      $('#refreshTJButton').click();
                  },
                  error: function (request, status, error) {
                      console.log(request)
                      console.log(status)
                      console.log(error)
                  }
              })
          })

// 순서 변경 버튼 클릭 이벤트
          let isOrderSwitching = false;
          $('#switchOrderTjButton').on('click', function () {
              if (!isOrderSwitching) {
                  isOrderSwitching = true;
                  let songTable = $('.table-tj');
                  let songRows = songTable.find('tbody tr');
                  $.each(songRows, function (index, row) {
                      $(row).toggleClass('song-row-will-switch song-row-switching');
                  });
                  $('#switchOrderTjCompleteButton').show();
                  $('#deleteMemoTjButton').hide();
                  toggleSearchForm('off');

                  // 첫번째 요소로 추가 부분 추가
                  let firstRow = $('.table-tj').find("tbody tr:first-child")
                  let willFirstRow = firstRow.clone();
                  willFirstRow.find('.song-number span').text('').end().find('.song-title-text').text('첫번째 순서로 추가').end().find('.song-info span').text('첫번째 순서로 추가하려면 클릭합니다.').end().find('.song-singer').text('');
                  firstRow.before(willFirstRow)
              } else {
                // 순서 변경중에누를경우 아무일도 일어나지 않음
              }
          })

// 순서 변경 할 tr 클릭 이벤트 (첫번째 클릭)
          $('.table-tj').on('click', '.song-row-will-switch', function () {
              if ($(this).find('.song-number span').text() === '') {
                  return; // 첫클릭에서 첫번째 행은 무시함
              }
              $(this).addClass('song-row-will-switch-selected');
              $(this).siblings().removeClass('song-row-will-switch').addClass('song-row-be-switched');
          });

// 순서 변경 당할 tr 클릭 이벤트 (두번째 클릭)
          $('.table-tj').on('click', '.song-row-be-switched', function () {
              $(this).addClass('song-row-be-switched-selected');
              $(this).siblings().removeClass('song-row-be-switched')
              let $willSwitchRow = $('.song-row-will-switch-selected');
              let $beSwitchedRow = $('.song-row-be-switched-selected');
              $beSwitchedRow.after($willSwitchRow)

              // 바뀐 메모 하이라이트
              $willSwitchRow.addClass('song-row-switched');
              setTimeout(function () {
                  $willSwitchRow.removeClass('song-row-switched');
              }, 500);


              $('.table-tj')
                  .find('tbody tr')
                  .removeClass('song-row-be-switched song-row-be-switched-selected song-row-will-switch song-row-will-switch-selected')
                  .addClass('song-row-will-switch'); // 나머지 클래스 초기화
          });

// 순서 변경 완료 버튼 클릭 이벤트
          $('#switchOrderTjCompleteButton').on('click', function () {
              let songTable = $('.table-tj');
              let songRows = songTable.find('tbody tr');
              let brand = 'TJ';
              let numbers = new Array();
              $.each(songRows, function (index, row) {
                  numbers.push($(row).find('.song-number span').text()); // 곡의 number 모음
              });
              numbers = numbers.filter(Boolean) // 빈값 제거 (첫번째 행으로 추가 제거)


              $.ajax({
                  type: "PATCH",
                  async: false,
                  url: "/memos/switch-order",
                  data: {
                      brand: brand,
                      numbers: numbers,
                      _csrf: $('#csrfToken').val()
                  },
                  success: function (data) {
                      console.log(data)
                      alert('순서가 변경되었습니다.');
                  },
                  error: function (request, status, error) {
                      console.log(request)
                      console.log(status)
                      console.log(error)
                  }
              })

              $.each(songRows, function (index, row) {
                  $(row).toggleClass('song-row-will-switch song-row-switching');
              });
              $('.table-tj').find('tbody tr:first-child').remove() // 첫번째 요소로 추가 자움
              $('#switchOrderTjCompleteButton').hide();
              $('#deleteMemoTjButton').show();
              $('#switchOrderTjButton').click();
              toggleSearchForm('on');
              isOrderSwitching = false;
          })

// 삭제하기 버튼 클릭 이벤트
          $('#deleteMemoTjButton').on('click', function () {
              let songTable = $('.table-tj');
              let songRows = songTable.find('tbody tr');
              $.each(songRows, function (index, row) {
                  $(row).find('.song-title-text').on('click', deleteMemoEvent);
                  $(row).addClass('song-row-deleting');
              });
              $('#deleteMemoTjCompleteButton').show();
              $('#switchOrderTjButton').hide();
          })

// 실제 노래 삭제 버튼 클릭 이벤트

          function deleteMemoEvent(event) {
            event.preventDefault();

            let songTitle = $(this).text();
            if (!confirm('확인을 누르면 다음 곡이 삭제됩니다.\n' + songTitle)) return false; // 취소시 리턴

            let brand = 'TJ';
            let number = $(this).closest('tr').find('.song-number span').text();
            let csrfToken = $('#csrfToken').val();

            $.ajax({
                type: "DELETE",
                url: "/memos",
                context: this, // ajax 내부에서 this 사용
                data: {
                    brand: brand,
                    number: number,
                    _csrf: csrfToken
                },
                success: function (data) {
                    console.log(data)
                    console.log($(this).closest());
                    $(this).closest('tr').remove();
                },
                error: function (request, status, error) {
                    console.log(request)
                    console.log(status)
                    console.log(error)
                }
            })
          }

// 삭제완료 버튼 클릭 이벤트
          $('#deleteMemoTjCompleteButton').on('click', function() {
              $('#deleteMemoTjButton').click();
              $('#switchOrderTjButton').show();
              $('.table-tj').find('tbody tr').removeClass('song-row-deleting');
              $(this).hide();
          })


      })
  </script>
</head>
<body>
<div id="alertMessage" th:text="${alertMessage}" style="width: 0; height: 0; display: none"></div>
<div id="container">
  <!-- Navigation-->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <h1>
        <a class="navbar-brand" href="/memo">노래방 일본 신곡 알림이 메모장</a>
      </h1>
      <div class="col-auto">
        <button class="btn btn-outline-dark btn-lg setting-Button" id="settingButton" data-bs-toggle="modal"
                data-bs-target="#settingModal">설정
        </button>
      </div>
    </div>
  </nav>

  <div class="d-none song-table-border">
    <table class="empty-song-table song-table">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>아티스트</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="song-number">
          <span>12345</span>
        </td>
        <td class="song-title">
          <div>
            <a class="song-title-text" href="#" onclick="return false;">
              노래 제목
            </a>
          </div>
          <div class="song-info">
            <span>
            정보 텍스트
          </span>
          </div>
        </td>
        <td class="song-singer">가수명
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- 설정 모달 -->
  <div class="modal fade" id="settingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="unsubscribeModalHeaderText">설정</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="forms-unsubscribe forms" id="unsubscribeForm">
            <div>정렬방식</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sortType" id="sortTypeCheckboxByOrder" value="PRESENTORDER" checked>
              <label class="form-check-label" for="sortTypeCheckboxByOrder">순서대로</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sortType" id="sortTypeCheckboxByArtist" value="ARTIST">
              <label class="form-check-label" for="sortTypeCheckboxByArtist">아티스트별</label>
            </div>
            <hr>
            <div>표시할 메모</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="showTjMemo" id="showTjCheckbox" value="true" checked>
              <label class="form-check-label" for="showTjCheckbox">TJ</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="showKyMemo" id="showKyCheckbox" value="true" checked>
              <label class="form-check-label" for="showKyCheckbox">금영</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="unsubscribeModalCloseButton" class="btn btn-outline-secondary"
                  data-bs-dismiss="modal">닫기
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 신곡 일람 표 -->
  <section class="new-song-section bg-light text-center">
    <div id="song-container" class="container text-center">
      <div class="new-song-section-header">
        <p> 메모된 곡 목록입니다. </p>
      </div>
      <div class="row">
        <!-- 태진 -->
        <div class="col-lg-4 fade-in-element">
          <h2 class="song-header-text song-header-text-tj position-relative">
            <span>TJ 메모</span>
            <button class="btn btn-outline-dark btn-sm setting-Button" id="refreshTJButton">갱신
            </button>
            <button id="switchOrderTjButton" class="btn btn-sm btn-outline-secondary collapse-button-hide-when-expanded"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#switchOrderTjCollapse" aria-expanded="false" aria-controls="switchOrderTjCollapse">
              순서변경
            </button>
            <button id="switchOrderTjCompleteButton" class="btn btn-sm btn-outline-primary"
                    type="button">
              순서변경완료
            </button>
            <button id="deleteMemoTjButton" class="btn btn-sm btn-outline-danger collapse-button-hide-when-expanded"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#deleteMemoTjCollapse" aria-expanded="false" aria-controls="deleteMemoTjCollapse">
              메모삭제
            </button>
            <button id="deleteMemoTjCompleteButton" class="btn btn-sm btn-outline-danger"
                    type="button">
              삭제완료
            </button>
          </h2>
          <div class="switch-order-hint-collapse collapse" id="switchOrderTjCollapse">
            <span style="background-color: #fff3cd">처음 클릭한 곡</span>
            이
            <span style="background-color: #dddddd">두번째로 클릭한 곡</span>
            바로 아래 순서로 변경됩니다.<br>
            변경한 순서는 '순서변경완료' 버튼을 눌러야 적용됩니다.
          </div>
          <div class="delete-memo-hint-collapse collapse" id="deleteMemoTjCollapse">
            <span>삭제하려는 메모의 곡 제목을 클릭하면 삭제됩니다.</span>
          </div>
          <div class="song-table-border">
            <table class="song-table table-tj">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${tjLatestMonthSongs}">
                <td class="song-number" th:data-present-order="${song.presentOrder}">
                  <span th:text="${song.number}">12345</span>
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" href="#" onclick="return false" th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info">
                    <span th:text="${song.info}">
                      정보 텍스트
                    </span>
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 금영 -->
        <div class="col-lg-4 fade-in-element">
          <h2 class="song-header-text song-header-text-ky">
            <span>금영 메모</span>
          </h2>
          <div class="song-table-border">
            <table class="song-table table-ky">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="song : ${kyLatestMonthSongs}">
                <td class="song-number">
                  <span th:text="${song.number}" th:classappend="${song.latest} ? latest : ''">12345</span>
                </td>
                <td class="song-title">
                  <div>
                    <a class="song-title-text" target="_blank" href="#" th:text="${song.title}">
                      노래 제목
                    </a>
                  </div>
                  <div class="song-info">
                    <span th:text="${song.info}">
                      정보 텍스트
                    </span>
                  </div>
                </td>
                <td class="song-singer" th:text="${song.singer}">가수명
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="splitter"></div>

  <section class="add-memo-section bg-light text-center">
    <div id="addMemoContainer" class="container text-center">
      <h2>
        <span>메모하기</span>
        <button id="addInfoTextCollapseButton" class="btn btn-outline-secondary collapse-button rounded-circle"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#addInfoTextCollapse" aria-expanded="false" aria-controls="addTextCollapse">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </h2>

      <!--노래 추가 폼 -->
      <form id="songAddForm">
        <input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}"/>
        <div class="song-table-border">
          <table class="table song-table">
            <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>아티스트</th>
            </tr>
            </thead>
            <tbody>
            <tr class="add-song-row">
              <td class="song-number">
                <span>00000</span>
              </td>
              <td class="song-title">
                <div>
                    <span class="song-title-text">
                      아래에서 노래를 검색해주세요
                    </span>
                </div>
                <div>
                  <span>추가텍스트: </span>
                  <span class="song-info-text ms-1">노래제목 또는 아티스트명을 한글 발음으로 검색할 수 있습니다</span>
                </div>
              </td>
              <td class="song-singer">
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- 노래 추가 폼 - 추가 텍스트 부분 -->
        <div class="collapse mt-3" id="addInfoTextCollapse">
          <div class="row align-items-center justify-content-center mb-3">
            <div class="col-auto">
              <label for="presentOrderModalButton" class="col-form-label">지정된 순서로 메모를 저장할 수 있습니다.</label>
              <span>&nbsp;현재순서:&nbsp;</span><span id="currentPresentOrder">00</span>
            </div>
            <div class="col-auto">
              <button type="button" id="presentOrderModalButton" class="btn btn-outline-secondary btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#presentOrderModal">순서 설정
              </button>
            </div>
          </div>
          <div>
            <p>추가 텍스트를 입력할 수 있습니다. 비워둘 경우 노래의 기본값으로 등록됩니다.</p>
          </div>
          <div class="input-group mb-3">
            <textarea type="text" id="addInfoTextInput" class="form-control" placeholder="추가 텍스트"
                      aria-label="추가텍스트" aria-describedby=""></textarea>
            <button class="btn btn-outline-primary" type="submit" id="addSongButton">메모하기</button>
          </div>
        </div>
      </form>

      <!-- 저장 순서 모달 -->
      <div class="modal fade" id="presentOrderModal" tabindex="-1" aria-labelledby="presentOrderModal"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">저장 순서 변경</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="modal-body-content">
                <div>
                  선택한 노래의 바로 다음 순서로 저장됩니다.<br>
                </div>
                <div class="song-table-border mt-2">
                  <table class="table song-table" id="choosePresentOrderTable">
                    <thead>
                    <tr>
                      <th>번호</th>
                      <th>제목</th>
                      <th>아티스트</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>

      <div id="searchHintContainer" class="mt-4 text-start">
        <p> 원어와 한국어로 모두 검색할 수 있습니다.</p>
        <p> 한글 검색결과는 정확하지 않을 수 있으며 모든 결과를 포함하지 않을 수 있습니다.</p>
        <p> 검색어는 띄어쓰기를 구분하며, 자세하게 입력할수록 결과가 정확해집니다.</p>
        <p> 예시 (정확도 순) Official髭男dism, 오피셜 히게 단디즘, 히게단</p>
      </div>


      <!--노래 검색 폼-->
      <form id="songSearchForm" class="my-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="brand" id="searchBrandTj" value="TJ" checked>
          <label class="form-check-label" for="searchBrandTj">TJ</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="brand" id="searchBrandKy" value="KY">
          <label class="form-check-label" for="searchBrandKy">금영</label>
        </div>
        <span class="ms-5 me-5">|</span>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="searchType" id="searchTypeArtist" value="SINGER" checked>
          <label class="form-check-label" for="searchTypeArtist">아티스트명</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="searchType" id="searchTypeTitle" value="TITLE">
          <label class="form-check-label" for="searchTypeTitle">노래제목</label>
        </div>
        <div class="input-group mt-3">
          <input type="text" name="keyword" id="searchSongInput" class="form-control" placeholder="노래 제목 또는 아티스트명"
                 aria-label="노래 제목 또는 아티스트명" aria-describedby="">
          <button class="btn btn-outline-primary" type="submit" id="searchSongButton">검색하기</button>
        </div>
      </form>

      <!--노래 검색 결과-->
      <h3>
        <span>검색결과</span>
        <button class="btn btn-outline-secondary rounded-circle collapse-button" id="songSearchResultCollapseButton"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#songSearchResultCollapse" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </h3>

      <div class="collapse" id="songSearchResultCollapse">
        <div class="card card-body p-2">
          <div>
            노래 제목을 누르면 해당 노래가 폼에 자동으로 입력됩니다.<br>
            (한글 표시는 참고용으로 작성되었으며 정확하지 않습니다)
          </div>
          <div class="song-table-border mt-2">
            <table class="table-hover song-table" id="songSearchResultTable">
              <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>아티스트</th>
              </tr>
              </thead>
              <tbody id="songSearchResultTableBody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer-->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
          <p id="footerText" class="text-muted small mb-4 mb-lg-0">&copy; JsongNoti by spiaminto. All Rights
            Reserved.</p>
          <p id="footerTextCopyright" class="text-muted small mb-0">favicon Designed by Freepik</p>
          <p id="footerTextGoogleAnalytics" class="text-muted small mb-4 mb-lg-0">이 사이트는 구글 애널리틱스를 사용중입니다
            <button type="button" class="btn btn-outline-secondary google-analytics-button" data-bs-toggle="modal"
                    data-bs-target="#googleAnalyticsModal">
              [ 자세히 ]
            </button>
          </p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
              Github &nbsp;
              <a href="https://github.com/spiaminto/JsongNoti-web"><i class="bi-github fs-3"></i></a>
            </li>
            <li class="list-inline-item contact-mail-pc">
              Contact
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의"
                 target="_blank"><i
                  class="bi-envelope fs-3"></i></a>
            </li>
            <li class="list-inline-item contact-mail-mobile">
              Contact
              <a href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의"><i
                  class="bi-envelope fs-3"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- agreement Modal -->
  <div class="modal fade" id="googleAnalyticsModal" tabindex="-1" aria-labelledby="googleAnalyticsModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="googleAnalyticsModalHeaderText">구글 애널리틱스</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">
            <p><h4>구글 애널리틱스 개인정보 처리 방침</h4> <br>
            노래방 일본 신곡 알림이는 보다 나은 서비스의 제공을 위하여 구글(Google)에서 제공하는 웹로그 분석 도구인 구글 애널리틱스를 이용하고 있습니다. <br>
            구글 애널리틱스는 쿠키(Cookie)를 통하여 현재 웹사이트 이용자의 행태정보를 수집하게 되며, 이 경우 이용자 개인을 식별할 수 없는 비식별정보 만이 수집됩니다. <br>
            그럼에도 이용자는 Google 애널리틱스 차단 브라우저 부가기능의 설치(https://tools.google.com/dlpage/gaoptout) 또는 웹브라우저의 쿠키 설정 거부를 통해 구글
            애널리틱스 이용을 거부할 수 있습니다.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>

</div> <!-- #container -->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="/js/scripts.js"></script>-->
</body>
</html>
