<!DOCTYPE HTML>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"-->
  <!--          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"-->
  <!--          crossorigin="anonymous">-->
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <!-- nanum fonts-->
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="/static/css/containers.css" th:href="@{/css/containers.css}" rel="stylesheet"/>
  <link href="/static/css/header-text-size.css" th:href="@{/css/header-text-size.css}" rel="stylesheet"/>
  <link href="/static/css/song-table.css" th:href="@{/css/song-table.css}" rel="stylesheet"/>
  <link href="/static/css/modal.css" th:href="@{/css/modal.css}" rel="stylesheet"/>
  <link href="/static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
  <title>개인정보처리방침</title>
  <style>
      #container {
          max-width: 800px;
          margin: 2rem auto;
          padding: 20px;
      }
  </style>
</head>
<body>
<div id="container" class="container">

  <h2>노래방 일본 신곡 알림이 (Jsongnoti) 개인정보 처리방침</h2>
  <p> 노래방 신곡 알림이는 이용자의 이메일을 수집하여 신곡정보를 메일로 보내드리는 '알림메일' 서비스와 노래방 곡을 검색하여 메모(저장) 할 수 있는 '메모' 기능을 위해 별도로 사용자 정보를 수집, 처리하고
    있습니다.</p>

  <br>

  <h3>1. 알림 메일 개인정보 처리방침</h3>
  <p>일본 노래방 신곡 알림이는 이용자로부터 다음과 같은 개인정보를 수집, 이용하고 있습니다.</p>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">수집하는 개인정보 항목</div>
        필수 : 이메일
        <br>
        선택 : (해당 없음)
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">개인정보 이용 목적</div>
        회원관리, 알림메일 및 공지메일 발송
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">개인정보 보유 및 이용기간</div>
        수집일로부터 1년간 보유합니다. 구독 취소시 48시간 이내 삭제합니다. 구독 취소시 이메일 인증이 어려운 경우 7일간 보관 후 삭제합니다.
      </div>
    </li>
  </ol>

  <br>

  <h3>2. 메모 개인정보 처리방침</h3>
  <p>일본 노래방 신곡 알림이는 메모기능을 제공하기 위해 구글 로그인 기능을 사용하며 회원으로부터 다음과 같은 개인정보를 수집, 이용하고 있습니다.</p>
  <p>회원은 구글 로그인을 위한 구글의 개인정보 처리방침을 포함한 아래의 약관에 동의한 것으로 간주합니다.</p>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">수집하는 개인정보 항목</div>
        필수 : 이메일
        <br>
        선택 : (해당 없음)
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">개인정보 이용 목적</div>
        회원관리 및 로그인, 메모 서비스 기능 제공과 문의 처리
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">개인정보 보유 및 이용기간</div>
        회원 탈퇴시 까지 보유합니다. 회원 탈퇴시 48시간 이내 삭제합니다. 회원 탈퇴시 이메일 인증이 어려운 경우 7일간 보관 후 삭제.
      </div>
    </li>
  </ol>

  <br>

  <h3>3. 구글 애널리틱스 개인정보 처리방침</h3>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">구글 애널리틱스</div>
        노래방 일본 신곡 알림이는 보다 나은 서비스의 제공을 위하여 구글(Google)에서 제공하는 웹로그 분석 도구인 구글 애널리틱스를 이용하고 있습니다. <br>
        구글 애널리틱스는 쿠키(Cookie)를 통하여 현재 웹사이트 이용자의 행태정보를 수집하게 되며, 이 경우 이용자 개인을 식별할 수 없는 비식별정보 만이 수집됩니다. <br>
        그럼에도 이용자는 Google 애널리틱스 차단 브라우저 부가기능의 설치(https://tools.google.com/dlpage/gaoptout) 또는 웹브라우저의 쿠키 설정 거부를 통해 구글
        애널리틱스 이용을 거부할 수 있습니다.
      </div>
    </li>
  </ol>

  <br>
  <p>
    등록일 2024.12.09
  </p>


</div> <!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>