<!DOCTYPE HTML>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>노래 검색</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon_32.png" th:href="@{/assets/favicon_32.png}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"/>
  <link href="/static/css/containers.css" th:href="@{/css/containers.css}" rel="stylesheet"/>
  <link href="/static/css/header-text.css" th:href="@{/css/header-text.css}" rel="stylesheet"/>
  <link href="/static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
  <link href="/static/css/song-table.css" th:href="@{/css/song-table.css}" rel="stylesheet"/>
  <link href="/static/css/song-search.css" th:href="@{/css/song-search.css}" rel="stylesheet"/>
  <link href="/static/css/page/search.css" th:href="@{/css/page/search.css}" rel="stylesheet"/>
  <script>
      // dark mode 인라인
      if (localStorage.getItem('darkMode') === 'true') {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
      } else {
          document.documentElement.setAttribute('data-bs-theme', '');
      }
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JFWLSXBEYR"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-JFWLSXBEYR');
  </script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/static/js/common-util.js" th:src="@{/js/common-util.js}" type="module"></script>
  <script src="/static/js/song-table-util.js" th:src="@{/js/song-table-util.js}" type="module"></script>
  <script src="/static/js/common-handlers.js" th:src="@{/js/common-handlers.js}" type="module"></script>
  <script src="/static/js/memo/song-search.js" th:src="@{/js/memo/song-search.js}" type="module"></script>
</head>
<body class="outer-element">
<div id="container">

  <!-- Navigation-->
  <nav class="navbar justify-content-start static-top">
    <h1>
      <a class="navbar-brand" href="/">
        제이노티
      </a>
      <a class="navbar-brand" href="/search">
        노래검색
      </a>
      <img src="/static/assets/icon/search_512.png" th:src="@{'/assets/icon/search_512.png'}" alt="검색아이콘" width="35px">
    </h1>
    <div class="memo-button-wrapper">
      <button id="memoButton" class="memo-button icon-button btn"
              style="background-image: url('/static/assets/icon/memo_256.png')"
              th:style="'background-image: url(/assets/icon/memo_256.png)'">
        <span class="icon-button-label"><b>메모</b></span>
      </button>
    </div>
  </nav>

  <section class="song-search-section inner-element">
    <h2 class="text-center">노래 검색</h2>
    <div id="searchHintContainer">
      <p> 원어와 한국어로 모두 검색할 수 있습니다.</p>
      <p> 한글 검색결과는 정확하지 않을 수 있으며 <b>모든 결과를 포함하지 않을 수 있습니다.</b></p>
      <p> 검색어는 <b>띄어쓰기를 구분하며</b>, 자세하게 입력할수록 결과가 정확해집니다.</p>
      <p><em class="text-muted">예시 (정확도 순) : Official髭男dism, 오피셜 히게 단디즘, 히게단</em></p>
    </div>
    <div class="song-search-container mt-2">
      <!--노래 검색 폼-->
      <form id="songSearchForm">
        <div class="brand-check-wrapper input-wrapper  mb-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="brand" id="searchBrandTj" value="TJ" checked>
            <label class="form-check-label" for="searchBrandTj">TJ</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="brand" id="searchBrandKy" value="KY" disabled>
            <label class="form-check-label" for="searchBrandKy">금영</label>
          </div>
        </div>
        <div class="search-type-check-wrapper input-wrapper  mb-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchType" id="searchTypeArtist" value="SINGER" checked>
            <label class="form-check-label" for="searchTypeArtist">아티스트명</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchType" id="searchTypeTitle" value="TITLE">
            <label class="form-check-label" for="searchTypeTitle">노래제목</label>
          </div>
        </div>
        <div class="input-group justify-content-center">
          <input type="text" name="keyword" id="searchSongInput" class="form-control form-control-lg text-input"
                 placeholder="노래 제목 또는 아티스트명 (최소 2자)"
                 aria-label="노래 제목 또는 아티스트명" aria-describedby="" minlength="2" maxlength="20">
          <button class="btn btn-outline-primary" type="submit" id="searchSongButton">검색하기</button>
        </div>
      </form>

      <!--노래 검색 결과-->
      <h3 class="text-center mt-4 mb-2">
        <span>검색결과</span>
        <button class="btn btn-outline-secondary rounded-circle arrow-collapse-button"
                id="songSearchResultCollapseButton"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#songSearchResultCollapse" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </h3>

      <div class="row row-for-expand-padding">
        <div class="collapse song-search-result-collapse" id="songSearchResultCollapse">
          <div class="card card-body box-shadow-sm px-1 py-2">
            <div class="song-search-result-header text-center">
              한글 표시는 참고용으로 작성되었으며 정확하지 않습니다.
            </div>
            <div class="song-table-border mt-2">
              <table class="table-hover song-table" id="songSearchResultTable">
                <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>아티스트</th>
                </tr>
                </thead>
                <tbody id="songSearchResultTableBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--빈 테이블-->
    <div class="d-none song-table-border">
      <table class="empty-song-table song-table">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>아티스트</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="song-number">
            <span>12345</span>
          </td>
          <td class="song-title">
            <div>
              <a class="song-title-text">
                노래 제목
              </a>
            </div>
            <div class="song-info">
            <span>
            정보 텍스트
          </span>
            </div>
          </td>
          <td class="song-singer">가수명
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Footer-->
  <footer class="footer inner-element mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
          <p id="footerText" class="text-muted small mb-4 mb-lg-0">&copy; 제이노티 by JsongNoti. All Rights
            Reserved.</p>
          <p id="footerTextCopyright" class="small mb-0">icons Designed by
            <a class="text-muted text-decoration-none" href="https://www.freepik.com/">Freepik</a>
          </p>
          <div id="footerTextLinkWrapper" class="mb-4">
            <p id="footerTextTermsOfUse" class="d-inline-block small mb-0"><a
                class="text-muted text-decoration-none" href="/terms-of-use">이용약관</a></p>
            <p id="footerTextPrivacyPolicy" class="d-inline-block small mb-0 ms-2"><a
                class="text-muted text-decoration-none" href="/privacy-policy"><b>개인정보처리방침</b></a></p>
          </div>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">&nbsp;
              <a class="text-primary-emphasis text-decoration-none" href="https://github.com/spiaminto/JsongNoti-web">
                Github
                <i class="bi-github fs-3"></i>
              </a>
            </li>
            <li class="list-inline-item contact-mail-pc me-4">
              <a class="text-primary-emphasis text-decoration-none"
                 href="https://mail.google.com/mail/?view=cm&fs=1&to=jsongnoti%2Bcs@gmail.com&su=일본 신곡 알림이 문의"
                 target="_blank">
                Contact
                <i class="bi-envelope fs-3"></i>
              </a>
            </li>
            <li class="list-inline-item contact-mail-mobile me-4">
              <a class="text-primary-emphasis text-decoration-none"
                 href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의">
                Contact
                <i class="bi-envelope fs-3"></i>
              </a>
            </li>
            <li class="list-inline-item dark-mode-button">
              <a class="text-primary-emphasis text-decoration-none"
                 href="mailto:jsongnoti+cs@gmail.com?subject=일본 신곡 알림이 문의">
                다크모드
                <i class="bi bi-moon-fill fs-3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div> <!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>