
.memo-section {
    /* #songContainer 에 padding 1rem, color white 있음 */
}

/* 메모 등록 */
.add-memo-section {
    padding: 1rem;
    background: white;
    border-radius: 20px;
}

.memo-add-form-container {
    padding: 0;
    max-width: 768px;
}

#memoAddForm {
    width: 100%;
}

/* 노래 등록 폼 아래 마진 공백 생기는거 삭제 */
#memoAddForm table {
    margin-bottom: 0;
}

#searchHintContainer p {
    margin-bottom: 0.25rem;
}

#songSearchResultTable .song-title-text {
    display: inline; /* 한글 타이틀 표시를 위해 인라인 */
}

.selected {
    background-color: #fff3cd;
}

.empty-song-table {
    display: none;
}

/* 순서변경 및 삭제 */
.song-row-switching {
    background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #efefef 0, #efefef 6px);
    transition-duration: 0.5s;
    transition-property: background-color;
}

.song-row-will-switch-selected {
    background: #fff3cd none;
}

.song-row-be-switched-selected {
    background: #dddddd none;
}

@media (hover: hover) and (pointer: fine) { /* 마우스에서만 호버 */
    .song-row-will-switch:hover {
        background: #dddddd none;
        cursor: pointer;
    }

    .song-row-be-switched:hover {
        background: #dddddd none;
        cursor: pointer;
    }
}

.song-row-switched {
    background: #dddddd none;
}

.switch-order-complete-button {
    display: none;
}

.collapse-button-hide-when-expanded[aria-expanded="true"] {
    display: none !important;
}

.song-row-deleting {
    background: repeating-linear-gradient(-45deg, #ffeeee, #ffeeee 3px, #ffffff 0, #ffffff 6px);
    transition-duration: 0.5s;
    transition-property: background-color;
}

.delete-memo-complete-button {
    display: none;
}


.splitter {
    margin: 2rem auto;
}

/* 필요한 경우 공통부로 뺄 것*/
.btn-xsm {
    padding: calc(0.3rem + 0.1vw) calc(0.5rem + 0.1vw);
    font-size: calc(0.7rem + 0.1vw);
    border-radius: 0.25rem;
}


