
.memo-section {
    /* #songContainer 에 padding 1rem, color white 있음 */
}

.expand-for-single-memo { /* .song-container 하나일경우 추가로 붙는 클래스 */
    width: 100%;
    max-width: 768px;
    padding: 0 0.3rem !important;
}

@media (min-width: 992px) {
    .expand-for-single-memo {
        padding: 0 0.5rem !important;
    }
}

/* 메모 등록 */
.add-memo-section {
    padding: 1rem;
    background: white;
    border-radius: 20px;
}

.memo-add-form-container {
    padding: 0 0.3rem;
    max-width: 768px;
}

#memoAddForm {
    width: 100%;
}

/* 노래 등록 폼 아래 마진 공백 생기는거 삭제 */
#memoAddForm table {
    margin-bottom: 0;
}

#songSearchResultTable .song-title-text {
    display: inline; /* 한글 타이틀 표시를 위해 인라인 */
}

.selected {
    background-color: #fff3cd;
}

.empty-song-table {
    display: none;
}

/* 순서변경 및 삭제 */
.song-row-switching {
    background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #efefef 0, #efefef 6px);
    transition-duration: 0.5s;
    transition-property: background-color;
}

.song-row-will-switch-selected {
    background: #fff3cd none;
}

.song-row-be-switched-selected {
    background: #dddddd none;
}

@media (hover: hover) and (pointer: fine) { /* 마우스에서만 호버 */
    .song-row-will-switch:hover {
        background: #dddddd none;
        cursor: pointer;
    }

    .song-row-be-switched:hover {
        background: #dddddd none;
        cursor: pointer;
    }
}

.song-row-switched {
    background: #dddddd none;
}

.switch-order-complete-button {
    display: none;
}

.collapse-button-hide-when-expanded[aria-expanded="true"] {
    display: none !important;
}

.song-row-deleting {
    background: repeating-linear-gradient(-45deg, #ffeeee, #ffeeee 3px, #ffffff 0, #ffffff 6px);
    transition-duration: 0.5s;
    transition-property: background-color;
}

.delete-memo-complete-button {
    display: none;
}


.splitter {
    margin: 2rem auto;
}

/* 필요한 경우 공통부로 뺄 것*/
.btn-xsm {
    padding: calc(0.3rem + 0.1vw) calc(0.5rem + 0.1vw);
    font-size: calc(0.7rem + 0.1vw);
    border-radius: 0.25rem;
}

#verifyDeleteUserCollapseButton {
    display: none;
}

/* 회원 탈퇴 모달 폼 관련 설정 (나중에 index 랑 통합) */

.forms .col {
    padding: 0;
}

.forms .row {
    margin: 0; /* col 전체를 다 바꾸면 표도 영향 받으니 이곳만 수정 */
}

.forms .col-auto {
    padding: 0;
}

.forms .forms-submit-button {
    margin-left: 0.5rem;
}

.forms-verify {
    padding-top: 1rem;
}

/* 모바일 폼 크기 조정 - 이메일입력, 구독버튼 */
@media (min-width: 768px) {
    .forms .col {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .forms .forms-email-input {
        /*from bootstrap .form-control-lg */
        min-height: calc(1.5em + 2rem + 2px);
        padding: 1rem 1.25rem;
        font-size: calc(1.05rem + 0.5vw); /* calc(1.15rem + 0.3vw);*/
        border-radius: 10px;
    }

    .forms .col-auto {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .forms .forms-submit-button {
        /*from bootstrap .form-control-lg */
        min-height: calc(1.5em + 2rem + 2px);
        padding: 1rem 1.25rem;
        font-size: calc(1.05rem + 0.5vw); /* calc(1.15rem + 0.3vw);*/
        border-radius: 10px;
    }
}


